<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/login.css">
    <link rel="stylesheet" href="stylesheets/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link rel="sortcut icon" href="../assets/img/logo.svg" type="image/x-icon" />; -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap"
        rel="stylesheet">
    <title>Login</title>
</head>

<body>

    <header>
        <div>
            <img class="logo" src="img/logo.svg" alt="Logo-Tipo">
        </div>

        <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar..." />

            <img src="img/search.svg" id="btnBusca" alt="Buscar" />
        </div>

        <div class="login">
            <div>
                <span>Oi, Seja Bem-vindx!</span>
                <span><strong>ENTRE / REGISTRE-SE</strong></span>
            </div>

            <img class="imagem-login" src="img/login.svg" alt="">
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="#">COMO FUNCIONA?</a></li>
            <li><a href="#"><span>COMPRAR PONTOS</span></a></li>
            <li><a href="#"> QUEM SOMOS</a></li>
            <li><a href="#">FALE CONOSCO</a></li>
            <li><a href="#">DOE/APOIE</a></li>
        </ul>
    </nav>

    <!-- LOGIN -->
    <div>
        <h2 class="entrar-no-time">Pronto para entrar no time? Então...</h2>
    </div>
    <section class="form">
        <div>
            <div class="login">
                <h1>Faça Seu Login</h1>
                <h2>se já tiver se cadastro antes</h2>
            </div>
            <div>
                <form action="/login" method="POST">
                    <input type="email" name="email" id="email" placeholder="Digite seu e-mail...">
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha...">
                    <div class="opcoes">
                        <div>
                            <div class="inputQuadrado"><input type="checkbox" name="lembrar login"></div>
                            <div><label for="lembrar login">Lembrar de mim</label></div>

                            <a href="#">Esqueci minha senha</a>
                        </div>
                    </div>
                    <div class="entrar">
                        <button type="submit">ENTRAR</button>
                    </div>
            </div>
            </form>
        </div>
        <!--             <div class="opcoes">
                <span>
                    <input type="checkbox" name="lembrar login">
                    <label for="lembrar login">Lembrar de mim</label>
                    <a href="#">Esqueci minha senha</a>
                </span>
            </div>
            <div class="entrar">
                <button type="submit">ENTRAR</button>
            </div>
        </div> -->

        <!--FIM DO LOGIN-->

        <!-- OU -->

        <div class="ou">
            <h2>ou</h2>
        </div>

        <!-- CADASTRO -->

        <div>
            <div class="cadastro">
                <h1>Crie Sua Conta</h1>
                <h2>se ainda não tiver cadastro</h2>
            </div>
            <div>
                <form action="/cadastro" method="POST">
                    <input type="text" name="nome" id="nome" placeholder="Digite seu primeiro nome...">
                    <input type="email" name="email" id="email" placeholder="Digite seu e-mail...">
                    <input type="password" name="senha" id="senha" placeholder="Agora crie uma senha...">
                    <input type="password" name="senha" id="senha" placeholder="Confirme sua senha...">
                    <div class="opcoes">
                        <div class="opcoes-termos">
                            <div>
                                <input class="inputQuadrado" type="checkbox" name="termos do site">
                                <label for="termos do site">Li e concordo com os</label>
                                <a href="#">Termos do Site</a>
                            </div>
                        </div>
                    </div>
                    <div class="cadastrar">
                        <button type="submit">CADASTRAR</button>
                    </div>
            </div>
            </form>

        </div>
        <!--FIM DO CADASTRO-->
    </section>

    <footer class="footer">
        <div class="descricaoSobre">
            <h2>SOBRE O <strong>LEVA MEU LIVRO</strong></h2>
            <span>Mussum Ipsum, cacilds vidis litro abertis. Pra lá , depois divoltis porris, paradis. Per aumento de
                cachacis, eu reclamis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique
                interdum. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
            </span>
            <span><a class="leiaMais" href="#">LEIA MAIS</a></span>
        </div>

        <div class="redesSociais">
            <h2>REDES <strong>SOCIAIS</strong></h2>
            <span><img src="img/facebook.svg" alt="não encontrada"><img src="img/redesSociais.svg"
                    alt="não encontrada"></span>
        </div>
    </footer>
    <footer2 class="footer2">
        <div class="direitos"> LEVA MEU LIVRO © | 2021 - Todos os direitos reservados </div>
    </footer2>

</body>

</html>