<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/troca-de-livro.css" />
<!--     <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/cadastro.css"> -->
    <title>Finalizar troca</title>
</head>

<body>
    <header class="header">
        <div class="conteudoHeader">
            <div class=" headerLogo">
                <img  src="img/logo.svg" alt="não encontrada">
            </div>
    
            <div class="divInput">
                <input class="buscar" type="text"  placeholder="Busque por livro, autor,tag" />
                <div class="container">
                    <input type="checkbox">
                    <class="checkmark"> Apenas disponíveis
                </div>
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>    
            </div>
                <div class="login">
                    <div class="campoLogin">
                        <span>Oi, Seja Bem-vindx!</span>
                        
                    <span>ENTRE / REGISTRE-SE</span>
                    </div>
                <img  src="img/login.svg" alt="">
            </div>
         </div>
         <div class="infoHeader">
            <nav>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="">QUEM SOMOS</a></li>
                    <li><a id="comprarLi" href="">COMPRAR PONTOS</a></li>
                    <li><a href="">QUEM SOMOS</a></li>
                    <li><a href="">FALE CONOSCO</a></li>
                    <li><a href="">DOE/APOIE</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="prosseguir-pedido">PROSSEGUIR COM O PEDIDO:</div>
    <div class="passos">

        <!-- PASSO UM -->

        <div class="passo-um">
            <h1>Passo 1: CONFIRME SEU ENDEREÇO DE ENTREGA:</h1>
            <input type="checkbox">
            <label for=""><strong> Endereço: </strong>Estr. dos Bandeirantes, 6700, Bairro Jacarepaguá. Rio de Janeiro -
                RJ.
                CEP: 22780-086</label>
            <span class="btns-endereco">
                <button type="submit" class="btn-editar">
                    <span class="material-icons">edit_note</span> editar</button>
                <button type="reset" class="btn-apagar">
                    <span class="material-icons">delete</span> apagar
                </button>
                <button type="submit" class="btn-incluir">
                    <span class="material-icons">add_circle</span> Incluir Novo Endereço
                </button>
            </span>
        </div>

        <!-- PASSO DOIS -->

        <div class="passo-dois">
            <h1>Passo 2: FINALIZAR:</h1>
            <h3>Está tudo certo? Agora é só trocar!</h3>
            <button type="submit" class="btn-solicitar-troca">SOLICITAR TROCA</button>
        </div>
    </div>
    <div class="pessoalmente">
        <div class="btn-pessoalmente">
            <input type="checkbox" class="btn-liga-desliga" />
            <label for="">Combinei para receber o livro pessoalmente</label>
        </div>
    </div>

    <!-- FORMULÁRIO -->

    <section class="container">
        <form action="">
            <fieldset class="cep-checkbox">
                <div class="cep">
                    <label for="">Digite seu CEP:</label>
                    <input type="text" placeholder="Informe o CEP...">
                </div>
                <div class="checkbox">
                    <input type="checkbox">
                    <label for="">Endereço Padrão?</label>
                </div>
            </fieldset>
            <fieldset class="logradouro-numero">
                <div class="logradouro">
                    <label for="">Logradouro:</label>
                    <input type="text" placeholder="Por exemplo: Rua João da Silva...">
                </div>
                <div class="numero">
                    <label for="">Número:</label>
                    <input type="text" placeholder="Digite aqui...">
                </div>
                <div class="checkbox-dois">
                    <input type="checkbox">
                    <label for="">Sem número</label>
                </div>
            </fieldset>
            <fieldset class="complemento-bairro">
                <div class="complemento">
                    <label for="">Complemento:</label>
                    <input type="text" placeholder="Por exemplo: Apartamento 121 Bloco D...">
                </div>
                <div class="bairro">
                    <label for="">Bairro:</label>
                    <input type="text" placeholder="Por exemplo: Bairro Copacabana...">
                </div>
            </fieldset>
            <fieldset class="cidade-estado">
                <div class="cidade">
                    <label for="">Cidade:</label>
                    <input type="text" placeholder="Digite sua Cidade...">
                </div>
                <div class="estado">
                    <label for="">Estado:</label>
                    <select name="estado" id="" class="estado">
                        <option value="" selected disabled>Selecione uma opção...</option>
                        <option value="SP">São Paulo</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="MG">Minas Gerais</option>
                    </select>
                </div>
            </fieldset>
            <div class="btn-salvar-endereco">
                <button type="submit">SALVAR ENDEREÇO</button>
            </div>
        </form>
    </section>


<footer>
        <footer class="footer">
            <div class="descricaoSobre"><h2>SOBRE O <strong>LEVA MEU LIVRO</strong></h2>
            <span>Mussum Ipsum, cacilds vidis litro abertis. Pra lá , depois divoltis porris, paradis. Per aumento de cachacis, eu reclamis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
            </span>
            <span><a class="leiaMais" href="#" >LEIA MAIS</a></span>
            </div>
        
            <div class="redesSociais">
            <h2>REDES <strong>SOCIAIS</strong></h2>
         <span><img  src="img/facebook.svg" alt="não encontrada"><img  src="img/redesSociais.svg" alt="não encontrada"></span>
           </div>
         </footer>
         <footer2 class="footer2">
            <div class="direitos"> LEVA MEU LIVRO ©  | 2021 - Todos os direitos reservados   </div>
         </footer2>
</footer>
        
</body>

</html>