<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap"
        rel="stylesheet">
    <title>Cadastro</title>
</head>

<body>
    <header>
        <div>
            <img class="logo" src="/assets/images/logo.svg" alt="Logo-Tipo">
        </div>

        <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar..." />

            <img src="search3.png" id="btnBusca" alt="Buscar" />
        </div>

        <div class="login">
            <div>
                <span>Oi, Seja Bem-vindx!</span>
                <span><strong>ENTRE / REGISTRE-SE</strong></span>
            </div>

            <img class="imagem-login" src="/assets/images/login.svg" alt="">
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">COMO FUNCIONA?</a></li>
            <li><a href="#"><span>COMPRAR PONTOS</span></a></li>
            <li><a href="#"> QUEM SOMOS</a></li>
            <li><a href="#">FALE CONOSCO</a></li>
            <li><a href="#">DOE/APOIE</a></li>
        </ul>
    </nav>

    <section class="bem-vindex">
        <article>
            <span>Aeee! Seja Bem-Vindx ao Nosso Clube!</span>
        </article>
    </section>

    <section class="section-main">
        <article class="article-cadastro">
            <span>Finalize seu Cadastro</span>
            <p>se não quiser terminar agora, tudo bem, mas será</p>
            <p>obrigatório na hora de pegar um livro...</p>
            <div>
                <h4>TERMINAR AGORA!</h4>
            </div>

        </article>

        <article class="article">
            <span>Prefiro fazer isso</span>
            <span>depois...</span>
            <div>
                <h4>VOLTAR PARA A HOME</h4>
            </div>

        </article>

        <article>
            <!-- <span>Finalizando o Cadastro!</span> -->
        </article>

    </section>

</body>

</html>