<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/busca.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Busca</title>
</head>

<body>

    <header class="header">
        <div class="conteudoHeader">
            <div>
                <img class="logo" src="../assets/img/logo.svg" alt="Logo-Tipo">
            </div>

            <div class="divInput">
                <input class="buscar" type="text" placeholder="Busque por livro, autor,tag" />
                <div class="container">
                    <input type="checkbox">
                    <class="checkmark"> Apenas disponíveis
                </div>
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="login">
                <div class="campoLogin">
                    <span>Oi, Seja Bem-vindx!</span>

                    <span>ENTRE / REGISTRE-SE</span>
                </div>
                <img src="../assets/img/login.svg" alt="">
            </div>
        </div>
        <div class="infoHeader">
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">QUEM SOMOS</a></li>
                    <li><a id="comprarLi" href="">COMPRAR PONTOS</a></li>
                    <li><a href="">QUEM SOMOS</a></li>
                    <li><a href="">FALE CONOSCO</a></li>
                    <li><a href="">DOE/APOIE</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="section-busca">
        <article class="article-busca">
            <div class="strong-red ">
                <span>
                    <p>RESULTADOS DA SUA BUSCA:</p>
                </span>
                <p class="article-paragrafo">FORAM ENCONTRADOS <span>06 LIVROS</span> CADASTRADOS PARA TROCA</p>
            </div>
            <hr>
        </article>
    </section>

    <!-- <section class="btn">
        <div>
            <p>Mais Antigos</p>
        </div>
        <img src="../assets//img/seta-baico.svg">
    </section> -->

    <main id="main-container">

        <section class="section-principal">
            <article>
                <p>matéria / curso</p>
            </article>

            <section class="container-checkbox">
                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>

                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>

                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>

                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>

                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>

                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>

                    <div class="div-checkbox">
                        <input type="checkbox" id="container">
                        <label for="container">testando..</label>
                    </div>

                    <div class="div-checkbox">
                        <input type="checkbox" id="container">
                        <label for="container">testando..</label>
                    </div>

                    <div class="div-checkbox">
                        <input type="checkbox" id="container">
                        <label for="container">testando..</label>
                        <p>ver todos</p>
                    </div>
                    <hr class="hr-linha">
            </section>

            <section class="container-ensino">
                <article>
                    <p>nível de ensino</p>
                </article>


                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>

                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>

                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>

                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>

                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>

                <div class="div-checkbox">
                    <input type="checkbox" id="container">
                    <label for="container">testando..</label>
                </div>
            </section>
        </section>


        <div class="div-card">

            <div class="div-card1">
                <img src="../assets/img/card1.svg" alt="">

                <div class="texto">
                    <p class="mat">MATÉRIA</p>
                    <p>NOME DO LIVRO</p>
                    <p>COM ATÉ 3 LINHAS</p>
                    <p>DE CARACTERES</p>
                </div>

                <div class="btn">
                    <input class="btn1" type="button" value="QUERO ESTE!">
                    <input class="btn2" type="button" value="+DETALHES">
                </div>

                <div class="img-assets">
                    <p>DISPONÍVEL</p>
                    <img src="../assets/img/salvar.svg" alt="">
                    <img src="../assets/img/relarUmPro.svg" alt="">
                </div>

                <div class="div-login">
                    <img src="../assets/img/login.svg">

                    <div>
                        <p>Dono(a): Mussum da Silva</p>
                        <p>Cidade: São Paulo | Estado: SP</p>
                    </div>
                </div>
            </div>

            <div class="div-card1">
                <img src="../assets/img/card1.svg" alt="">

                <div class="texto">
                    <p class="mat">MATÉRIA</p>
                    <p>NOME DO LIVRO</p>
                    <p>COM ATÉ 3 LINHAS</p>
                    <p>DE CARACTERES</p>
                </div>

                <div class="btn">
                    <input class="btn1" type="button" value="QUERO ESTE!">
                    <input class="btn2" type="button" value="+DETALHES">
                </div>

                <div class="img-assets">
                    <p>DISPONÍVEL</p>
                    <img src="../assets/img/salvar.svg" alt="">
                    <img src="../assets/img/relarUmPro.svg" alt="">
                </div>

                <div class="div-login">
                    <img src="../assets/img/login.svg">

                    <div>
                        <p>Dono(a): Mussum da Silva</p>
                        <p>Cidade: São Paulo | Estado: SP</p>
                    </div>
                </div>
            </div>

            <div class="div-card1">
                <img src="../assets//img/card1.svg" alt="">

                <div class="texto">
                    <p class="mat">MATÉRIA</p>
                    <p>NOME DO LIVRO</p>
                    <p>COM ATÉ 3 LINHAS</p>
                    <p>DE CARACTERES</p>
                </div>

                <div class="btn">
                    <input class="btn1" type="button" value="QUERO ESTE!">
                    <input class="btn2" type="button" value="+DETALHES">
                </div>

                <div class="img-assets">
                    <p>DISPONÍVEL</p>
                    <img src="../assets//img/salvar.svg" alt="">
                    <img src="../assets//img/relarUmPro.svg" alt="">
                </div>

                <div class="div-login">
                    <img src="../assets//img/login.svg">

                    <div>
                        <p>Dono(a): Mussum da Silva</p>
                        <p>Cidade: São Paulo | Estado: SP</p>
                    </div>
                </div>
            </div>





            <div class="div-card1">
                <img src="../assets//img/card1.svg" alt="">

                <div class="texto">
                    <p class="mat">MATÉRIA</p>
                    <p>NOME DO LIVRO</p>
                    <p>COM ATÉ 3 LINHAS</p>
                    <p>DE CARACTERES</p>
                </div>

                <div class="btn">
                    <input class="btn1" type="button" value="QUERO ESTE!">
                    <input class="btn2" type="button" value="+DETALHES">
                </div>

                <div class="img-assets">
                    <p>DISPONÍVEL</p>
                    <img src="../assets//img/salvar.svg" alt="">
                    <img src="../assets//img/relarUmPro.svg" alt="">
                </div>

                <div class="div-login">
                    <img src="../assets//img/login.svg">

                    <div>
                        <p>Dono(a): Mussum da Silva</p>
                        <p>Cidade: São Paulo | Estado: SP</p>
                    </div>
                </div>
            </div>




            <div class="div-card1">
                <img src="../assets//img/card1.svg" alt="">

                <div class="texto">
                    <p class="mat">MATÉRIA</p>
                    <p>NOME DO LIVRO</p>
                    <p>COM ATÉ 3 LINHAS</p>
                    <p>DE CARACTERES</p>
                </div>

                <div class="btn">
                    <input class="btn1" type="button" value="QUERO ESTE!">
                    <input class="btn2" type="button" value="+DETALHES">
                </div>

                <div class="img-assets">
                    <p>DISPONÍVEL</p>
                    <img src="../assets//img/salvar.svg" alt="">
                    <img src="../assets//img/relarUmPro.svg" alt="">
                </div>

                <div class="div-login">
                    <img src="../assets//img/login.svg">

                    <div>
                        <p>Dono(a): Mussum da Silva</p>
                        <p>Cidade: São Paulo | Estado: SP</p>
                    </div>
                </div>
            </div>




            <div class="div-card1">
                <img src="../assets//img/card1.svg" alt="">

                <div class="texto">
                    <p class="mat">MATÉRIA</p>
                    <p>NOME DO LIVRO</p>
                    <p>COM ATÉ 3 LINHAS</p>
                    <p>DE CARACTERES</p>
                </div>

                <div class="btn">
                    <input class="btn1" type="button" value="QUERO ESTE!">
                    <input class="btn2" type="button" value="+DETALHES">
                </div>

                <div class="img-assets">
                    <p>DISPONÍVEL</p>
                    <img src="../assets//img/salvar.svg" alt="">
                    <img src="../assets//img/relarUmPro.svg" alt="">
                </div>

                <div class="div-login">
                    <img src="../assets//img/login.svg">

                    <div>
                        <p>Dono(a): Mussum da Silva</p>
                        <p>Cidade: São Paulo | Estado: SP</p>
                    </div>
                </div>
            </div>

            <div class="mover">
                <div class="button">
                    <p>Mais Antigos </p>
                    <div>
                        <img src="../assets//img/seta-baico.svg" alt="">
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="descricaoSobre">
            <h2>SOBRE O <strong>LEVA MEU LIVRO</strong></h2>
            <span>Mussum Ipsum, cacilds vidis litro abertis. Pra lá , depois divoltis porris, paradis. Per aumento de
                cachacis, eu reclamis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique
                interdum. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
            </span>
            <span><a class="leiaMais" href="#">LEIA MAIS</a></span>
        </div>

        <div class="redesSociais">
            <h2>REDES <strong class="social">SOCIAIS</strong></h2>
            <span><img src="../assets//img/facebook.svg" alt="não encontrada"><img src="../assets//img/redesSociais.svg"
                    alt="não encontrada"></span>
        </div>
    </footer>
    <footer2 class="footer2">
        <div class="direitos"> LEVA MEU LIVRO © | 2021 - Todos os direitos reservados </div>
    </footer2>

</body>

</html>