<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link rel="sortcut icon" href="../assets/img/" type="image/x-icon" />; -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>
</head>

<body>
    <header class="header">
        <div class="conteudoHeader">
            <div>
                <img class="logo" src="../assets/img/logo.svg" alt="Logo-Tipo">
            </div>
    
            <div class="divInput">
                <input class="buscar" type="text"  placeholder="Busque por livro, autor,tag" />
                <div class="containerHeader">
                    <input type="checkbox">
                    <class="checkmark"> Apenas disponíveis
                </div>
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>    
            </div>
                <div class="login">
                    <div class="campoLogin">
                        <span>Oi, Seja Bem-vindx!</span>
                        
                    <span>ENTRE / REGISTRE-SE</span>
                    </div>
                <img  src="../assets/img/login.svg" alt="">
            </div>
         </div>
         <div class="infoHeader">
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">QUEM SOMOS</a></li>
                    <li><a id="comprarLi" href="">COMPRAR PONTOS</a></li>
                    <li><a href="">QUEM SOMOS</a></li>
                    <li><a href="">FALE CONOSCO</a></li>
                    <li><a href="">DOE/APOIE</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="carousel" aria-label="Gallery">
        <ol class="carousel__viewport">
          <li id="carousel__slide1"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper">
              <a href="#carousel__slide4"
                 class="carousel__prev">Go to last slide</a>
              <a href="#carousel__slide2"
                 class="carousel__next">Go to next slide</a>
            </div>
          </li>
          <li id="carousel__slide2"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide1"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide3"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel__slide3"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide2"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide4"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel__slide4"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper"></div>
            <a href="#carousel__slide3"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide1"
               class="carousel__next">Go to first slide</a>
          </li>
        </ol>
        <aside class="carousel__navigation">
          <ol class="carousel__navigation-list">
            <li class="carousel__navigation-item">
              <a href="#carousel__slide1"
                 class="carousel__navigation-button">Go to slide 1</a>
            </li>
            <li class="carousel__navigation-item">
              <a href="#carousel__slide2"
                 class="carousel__navigation-button">Go to slide 2</a>
            </li>
            <li class="carousel__navigation-item">
              <a href="#carousel__slide3"
                 class="carousel__navigation-button">Go to slide 3</a>
            </li>
            <li class="carousel__navigation-item">
              <a href="#carousel__slide4"
                 class="carousel__navigation-button">Go to slide 4</a>
            </li>
          </ol>
        </aside>
      </section>

    <section class="img-card">
        <div class="card-1">
            <img class="img_1" src="../assets/img/img1.svg" alt="">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.
            </p>
        </div>
        <div class="card-2">
            <img class="img_2" src="../assets/img/img2.svg" alt="">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.
            </p>
        </div>
        <div class="card-3">
            <img class="img_3" src="../assets/img/img3.svg" alt="">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.
            </p>
        </div>
        <div class="card-4">
            <img class="img_4" src="../assets/img/img4.svg" alt="">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.
            </p>
        </div>
    </section>

    <div class="trocas-livros">
        <p>LIVROS DISPONÍVEIS PARA TROCAS | <a href="#">ver todos</a></p>
    </div>

    <section class="section1">
        <div>
            <img src="../assets/img/card1.svg" alt="">

            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>

            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="img-assets">
                <p>DISPONÍVEL</p>
                <img src="../assets/img/salvar.svg" alt="">
                <img src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>

        <div>
            <img src="../assets/img/card2.svg" alt="">
            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>
            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="nao-dispo">
                <p>NÃO</p>
                <p>DISPONÍVEL</p>
            </div>
            <div class="img">
                <img class="img-3" src="../assets/img/salvar.svg" alt="">
                <img class="img-4" src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>

        <div>
            <img src="../assets/img/card1.svg" alt="">

            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>

            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="img-assets">
                <p>DISPONÍVEL</p>
                <img src="../assets/img/salvar.svg" alt="">
                <img src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>

        <div>
            <img src="../assets/img/card2.svg" alt="">
            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>
            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="nao-dispo">
                <p>NÃO</p>
                <p>DISPONÍVEL</p>
            </div>
            <div class="img">
                <img class="img-3" src="../assets/img/salvar.svg" alt="">
                <img class="img-4" src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>

        <div>
            <img src="../assets/img/card2.svg" alt="">
            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>
            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="nao-dispo">
                <p>NÃO</p>
                <p>DISPONÍVEL</p>
            </div>
            <div class="img">
                <img class="img-3" src="../assets/img/salvar.svg" alt="">
                <img class="img-4" src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>

        <div>
            <img src="../assets/img/card1.svg" alt="">

            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>

            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="img-assets">
                <p>DISPONÍVEL</p>
                <img src="../assets/img/salvar.svg" alt="">
                <img src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>

        <div>
            <img src="../assets/img/card2.svg" alt="">
            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>
            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="nao-dispo">
                <p>NÃO</p>
                <p>DISPONÍVEL</p>
            </div>
            <div class="img">
                <img class="img-3" src="../assets/img/salvar.svg" alt="">
                <img class="img-4" src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>

        <div>
            <img src="../assets/img/card1.svg" alt="">

            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>

            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="img-assets">
                <p>DISPONÍVEL</p>
                <img src="../assets/img/salvar.svg" alt="">
                <img src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>
    </section>

    <section class="vector">
        <div>
            <img src="../assets/img/vector.svg" alt="">
        </div> 
        <div>
            <h2 class="vectorh2">É CARO ENVIAR UM LIVRO?</h2>
            <p class="vectorP">NÃO! Basta postar seu livro nos CORREIOS como CARTA REGISTRADA MÓDICA. Assim, o seu despacho sai baratinho..</p>
            <p class="vectorP">Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>

            <div class="vectorUl">
                <ul class="linkul">
                    <li><a class="link" href="#">LEIA MAIS</a></li>
                </ul>
            </div>
        </div>

        <div>
            <img src="../assets/img/vector.svg" alt="">
        </div>
        <div>
            <h2 class="h2">VOCÊ PODE CONTRIBUIR?</h2>
            <p class="vectorP">
                Se você é uma escola, editora, instituição de ensino, biblioteca ou qualquer entidade que possua livros didáticos e que possa doar, você pode nos enviar e ajudar a quem precisa.
            </p>
            <p class="vectorP">Mas há muitas outras formas de contribuir com este projeto além </p>
            <div class="vectorUl">
                <ul class="linkul">
                    <li><a class="link" href="#">LEIA MAIS</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="desejados">
        <div>
            <p>LIVROS MAIS DESEJADOS</p>
        </div>
    </section>

    <section class="section1">
        <div>
            <img src="../assets/img/card1.svg" alt="">

            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>

            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="img-assets">
                <p>DISPONÍVEL</p>
                <img src="../assets/img/salvar.svg" alt="">
                <img src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>

        <div>
            <img src="../assets/img/card2.svg" alt="">
            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>
            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="nao-dispo">
                <p>NÃO</p>
                <p>DISPONÍVEL</p>
            </div>
            <div class="img">
                <img class="img-3" src="../assets/img/salvar.svg" alt="">
                <img class="img-4" src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>

        <div>
            <img src="../assets/img/card1.svg" alt="">

            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>

            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="img-assets">
                <p>DISPONÍVEL</p>
                <img src="../assets/img/salvar.svg" alt="">
                <img src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>

        <div>
            <img src="../assets/img/card2.svg" alt="">
            <div class="texto">
                <p class="mat">MATÉRIA</p>
                <p>NOME DO LIVRO</p>
                <p>COM ATÉ 3 LINHAS</p>
                <p>DE CARACTERES</p>
            </div>
            <div class="btn">
                <input class="btn1" type="button" value="QUERO ESTE!">
                <input class="btn2" type="button" value="+DETALHES">
            </div>

            <div class="nao-dispo">
                <p>NÃO</p>
                <p>DISPONÍVEL</p>
            </div>
            <div class="img">
                <img class="img-3" src="../assets/img/salvar.svg" alt="">
                <img class="img-4" src="../assets/img/relarUmPro.svg" alt="">
            </div>
        </div>
    </section>
            <footer class="footer">
                <div class="descricaoSobre"><h2>SOBRE O <strong>LEVA MEU LIVRO</strong></h2>
                <span>Mussum Ipsum, cacilds vidis litro abertis. Pra lá , depois divoltis porris, paradis. Per aumento de cachacis, eu reclamis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
                </span>
                <span><a class="leiaMais" href="#" >LEIA MAIS</a></span>
                </div>
        
                <div class="redesSociais">
                <h2>REDES <strong>SOCIAIS</strong></h2>
             <span><img  src="../assets/img/facebook.svg" alt="não encontrada"><img  src="../assets/img/redesSociais.svg" alt="não encontrada"></span>
               </div>
             </footer>
             <footer class="footer2">
                <div class="direitos"> LEVA MEU LIVRO ©  | 2021 - Todos os direitos reservados   </div>
             </footer>
       
       
</body>
</html>