<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/meu-perfil-geral.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Meu Perfil - Geral</title>
</head>
<body>
    <header class="header">
        <div class="conteudoHeader">
            <div class="headerLogo">
                <img  src="../assets/img/logo.svg" alt="não encontrada">
            </div>
    
            <div class="divInput">
                <input class="buscar" type="text"  placeholder="Busque por livro, autor,tag" />
<!--                 <div class="container">
                    <input type="checkbox">
                    <class="checkmark"> Apenas disponíveis
                </div>  
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>    --> 
            </div>
                <div class="login">
                    <div class="campoLogin">
                        <span>Oi, Seja Bem-vindx!</span>
                        
                    <span>ENTRE / REGISTRE-SE</span>
                    </div>
                <img  src="../assets/img//login.svg" alt="">
            </div>
         </div>
         <div class="infoHeader">
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">COMO FUNCIONA?</a></li>
                    <li><a id="comprarLi" href="">COMPRAR PONTOS</a></li>
                    <li><a href="">QUEM SOMOS</a></li>
                    <li><a href="">FALE CONOSCO</a></li>
                    <li><a href="">DOE/APOIE</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="meuPerfil">
            <div class="meuPerfilGeral">
                <p>Aeee! Seja Bem-Vindx ao Nosso Clube!</p>
            </div>
            <div class="perfilGeral">
                <div class="meusDados">
                    <div class="imgId">
                        <img src="../assets/img/imgMeusDados.svg" alt="Ícone Identidade">
                    </div>
                    <h2>Meus Dados</h2>
                    <p>Aqui é o Seu Espaço Para Alterar Suas Informações Pessoais Previamente Cadastradas.</p>
                    <button type="button">Acessar</button>
                </div>

                <div class="meuSaldo">
                    <div class="imgSaldo">
                        <img src="../assets/img/imgSaldo.svg" alt="Ícone Saldo">
                    </div>
                    <h2>Meu Saldo</h2>
                    <p>Veja qual é o crédito que você possui disponível para trocar por novos livros e/ou descubra como conseguir.</p>
                    <button type="button">Acessar</button>
                </div>

                <div class="cadastrarLivro">
                    <div class="imgLivros">
                        <img src="../assets/img/imgLivros.svg" alt="Ícone Cadastrar Livro">
                    </div>
                    <h2>Cadastrar <br>Meus Livros</h2>
                    <p>Cadastre os livros que está disposto a trocar para receber créditos. Responda dúvidas de outros usuários.</p>
                    <button type="button">Acessar</button>
                </div>

                <div class="pedidoTroca">
                    <div class="imgTroca">
                        <img src="../assets/img/imgTroca.svg" alt="Ícone Pedidos de Troca">
                    </div>
                    <h2>Pedidos <br>de Troca</h2>
                    <p>Visualize aqui quem pediu os livros que você cadastrou e também acompanhe os seus pedidos de troca.</p>
                    <button type="button">Acessar</button>
                </div>

            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="descricaoSobre"><h2>SOBRE O <strong>LEVA MEU LIVRO</strong></h2>
        <span>Mussum Ipsum, cacilds vidis litro abertis. Pra lá , depois divoltis porris, paradis. Per aumento de cachacis, eu reclamis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
        </span>
        <span><a class="leiaMais" href="#" >LEIA MAIS</a></span>
        </div>

        <div class="redesSociais">
        <h2>REDES <strong>SOCIAIS</strong></h2>
     <span><img  src="../assets/img//facebook.svg" alt="não encontrada"><img  src="../assets/img//redesSociais.svg" alt="não encontrada"></span>
       </div>
     </footer>
     <footer2 class="footer2">
        <div class="direitos"> LEVA MEU LIVRO ©  | 2021 - Todos os direitos reservados   </div>
     </footer2>
</body>
</html>