.header{
    width: 100%;
    height: 223px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteudoHeader{
    width: 1200px;
    margin:10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divInput{
    height: 100px;
     margin: 20px auto ;
}

.login{
    display: flex;
    width: 252px;
    height: 52px;
    margin-top: 44px;   
}
.campoLogin{
    margin-top: 10px;
    display: block;
    flex-wrap: wrap;
}

.login span{
    text-align: center;
    margin: 10px;
    font-family: sans-serif;
    color: #EB4335;
    font-weight: bold;
}

.login img{
    width: 50px;
}

.infoHeader{
    width: 100%;
    height: 60px;
    background: #4285F4;
}
nav{
    width: 1122px;
    display: flex;
    margin:auto;
    align-items: center;
    margin: auto;
}

.infoHeader ul{
    width: 1122px;
    font-family: sans-serif;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
       
}

.infoHeader li{
    display: inline;
    align-items: center;
    justify-content: space-between;
    padding-right: 34px;
}

.infoHeader li a{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    text-decoration-line: none;
}
#comprarLi{
    color:#FEEE08 ;
}
.cadChamada{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 68px;
}

.cadastroChamada{
    width: 960px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cadastroChamada p{
    font-family: sans-serif;
    font-weight: 500;
    color: #4285F4;
}
.cads{
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.finalizeCad{
    width: 478px;
    height: 192px;
    display: flex;
    flex-wrap: wrap;  
}

.finalizeCad h2{
    height: 56px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    color:#EB4335 ;
    margin: 5px 0px;
}
.finalizeCad p{
    font-family: sans-serif;
    size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 5px auto;
}

.finalizeCad button{
    border-radius:10px ;
    width: 216px;
    height: 46px;
    background: #EB4335;;
    border-color: #EB4335;;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: white;
    margin: auto;
}

.finalizeDepois{
    width: 382px;
    height: 192px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
    
}
.finalizeDepois h2{
    font-family: sans-serif;
    font-weight: 700;
    line-height: 56px;
    font-size: 44px;
    text-align: center;
    color: #3146DE;
}
.finalizeDepois button{
    border-radius:10px ;
    width: 216px;
    height: 46px;
    background: #2F80ED;
    border-color: #2F80ED;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: white;
    margin: auto;
}
.formsCadastros{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-top:1px solid #000000;
    text-align: center;
    margin: 0 auto; 
    /* max-width: 578px; */
   
}
.forms{
    height: 977px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}
.forms p{
    padding-bottom: 23px;
    text-align: justify;
}

.formsCadastros h2{
    font-family: sans-serif;
    height: 55px;
    color: #F62CBC;
    text-align: center;
    margin:48px auto;
    font-size: 48px;
    font-weight: 700;
}

.form1 form{
    display: flex;
    flex-direction: column;
    width: 471px;
    height: 370px;
    align-items: baseline;
    text-align: start;
}
.form1 form input{
    border-radius: 10px;
    background-color:#E0E0E0; 
    width: 200px;
    height: 40px;
    border: none;
    margin: 7px 28px 21px auto ;
}


.form1 form select{
    border-radius: 10px;
    background-color:#E0E0E0;
}
.agregadorInput{
    width: 468px;
    display: flex;
    flex-wrap: wrap;
 
}
.agregadorLabelInput{
    display: flex;
    flex-direction: column;
    
}


.form2{
    width: 474px;
    height: 703px;
    background-color: coral;
}

input ::placeholder{
    padding-right: 17px ;
}