.header{
    width: 100%;
    height: 223px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteudoHeader{
    width: 1200px;
    margin:10px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

.divInput{
    height: 100px;
     margin: 20px auto ;
}

.login{
    display: flex;
    width: 252px;
    height: 52px;
    margin-top: 44px;   
}
.campoLogin{
    margin-top: 10px;
    display: block;
    flex-wrap: wrap;
}

.login span{
    text-align: center;
    margin: 10px;
    font-family: sans-serif;
    color: #EB4335;
    font-weight: bold;
}

.login img{
    width: 50px;
}

.infoHeader{
    width: 100%;
    height: 60px;
    background: #4285F4;
}
nav{
    width: 1122px;
    display: flex;
    margin:auto;
    align-items: center;
    margin: auto;
}

.infoHeader ul{
    width: 1122px;
    font-family: sans-serif;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
       
}

.infoHeader li{
    display: inline;
    align-items: center;
    justify-content: space-between;
    padding-right: 34px;
}

.infoHeader li a{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    text-decoration-line: none;
}
#comprarLi{
    color:#FEEE08 ;
}

.sessao{
    width: 1143px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40px auto;
}
.negrito{
    color: #000;
    font-weight: 700;
}
.mostrarInfoLivro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px auto;
}
.produtoFoto{
    width: 250px;
    height: 370px;
    margin-bottom: 14px;
}
.fotosMostruario{
    display: flex;
    width: 128px;
    height: 30px;
    justify-content: space-between; 
    margin: auto;   
}
.informacoesLivro{
    width: 800px;
    height: 415px;
    margin-left: 93px;
}

.informacoesLivro h1{
    font-size: 24px;
    font-weight: 700;
    align-items: center;
}

.infosLivros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.infosIcones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 568px;
    justify-content: space-between;
}

.txtInfoDono{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.imgsIcones{
    width: 24px;
    margin: 3px;
}

#alinhaSalvar{
    align-self: center;
}
.centralizar{
text-align: center;
}

.btn{
    border-radius: 10px;
    height: 46px;
    color: white;
    border-style: none;
    margin-top: 30px;
}

.btnLaranja{
    background-color: #EB4335;
    width: 216px;
}

.btnRosa{
    background-color: #F62CBC;
    width: 278px;
    margin-left: 73px;
}