*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* CSS DO HEADER */


.header{
    width: 100%;
    height: 223px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteudoHeader{
    width: 1200px;
    margin:10px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

.divInput{
    height: 100px;
     margin: 20px auto ;
}

.login{
    display: flex;
    width: 252px;
    height: 52px;
    margin-top: 44px;   
}
.campoLogin{
    margin-top: 10px;
    display: block;
    flex-wrap: wrap;
}

.login span{
    text-align: center;
    margin: 10px;
    font-family: sans-serif;
    color: #EB4335;
    font-weight: bold;
}

.login img{
    width: 50px;
}

.infoHeader{
    width: 100%;
    height: 60px;
    background: #4285F4;
}

nav{
    width: 1122px;
    display: flex;
    margin:auto;
    align-items: center;
    margin: auto;
}

.infoHeader ul{
    width: 1122px;
    font-family: sans-serif;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
       
}

.infoHeader li{
    display: inline;
    align-items: center;
    justify-content: space-between;
    padding-right: 34px;
}

.infoHeader li a{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    text-decoration-line: none;
}

#comprarLi{
    color:#FEEE08 ;
}



/* CORPO DA PAGINA */


body{
    height: 100vh;
    background-color: #fff;
}

button, select, option{
    cursor: pointer;
}

.prosseguir-pedido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #4285F4; 
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}

.passos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    align-content: center;
    margin: 20px;
}

.passo-um{
    flex-basis:50% ;
}

.passo-um h1{
    width: 681px;
    height: 29px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #34A853;
    margin-bottom: 10px;
}

.passo-um input{
    margin-top: -1.3ex;
}

.passo-um label{
    position: absolute;
    width: 642.99px;
    color: #000000;
    margin-bottom: 20px;
    padding-left: 0.5%;
}


.btns-endereco{
    margin-top: 2.1%;
    display: block;
}

.passo-um button{
    border-radius: 10px;
    background: #E0E0E0;
}

.btn-editar{
    width: 90px;
    height: 35px;
    border: none;
    margin-right: none;
}

.btn-apagar{
    width: 90px;
    height: 35px;
    border: none;
    margin-left: none;
    margin-left: -3%;
}

.btn-incluir{
    width: 227.23px;
    font-size: 14px;
    line-height: 24px;
    height: 35px;
    border-color: #4285F4;
    color: #4285F4;
    margin-left: 5%;
}

.passo-dois h1{
    flex-basis: 50%;
    width: 422px;
    height: 29px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #EB4335;
    margin-bottom: 10px;
}

.passo-dois h3{
    width: 421px;
    height: 27px;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 20px;
}

.btn-solicitar-troca{
    width: 227.23px;
    background: #EB4335;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    height: 35px;   
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
}

/* BOTÃO OPÇÃO LIGA E DESLIGA */

.pessoalmente{
    display: flex;
    margin-left: 5.1%;
    margin-bottom: 2%;
}

.btn-pessoalmente input[type="checkbox"]{
    position: absolute;
    width: 30px;
    height: 15px;
    -webkit-appearance: none;
    background-color:#828282;
    outline: none;
    border-radius: 20px;
    box-shadow: inset #34A853;
    transition: .2s;
}

.btn-pessoalmente input[type="checkbox"]::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(1.2);
    box-shadow: 0 2px 5px #828282;
    transition: .2s;

}

.btn-pessoalmente input:checked[type="checkbox"]::before{
    left: 15px;
}

.btn-pessoalmente input:checked[type="checkbox"]{
    background-color: #34A853 ;
}

.pessoalmente label{
    flex: 1;
    padding-right: -20%;
    margin-left: 35px;
}


/* FORMULARIO DE ENDEREÇO */


fieldset{
    border: 0;
}

form{
    margin-top: -1%;
    position: absolute;
    width: 130ex;
}

input{
    height: 35px;
}

.container{
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container label{
    font-size: 16px;
    height: 22px;
    line-height: 24px;
    color: #000000;
}

.container input{
    border-radius: 10px;
    background: #E0E0E0;
}

.container input:placeholder-shown{
    font-size: 14px;
    line-height: 26px;
    color: #4F4F4F;
    padding-left: 12px;
}

/* CEP */

.cep-checkbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    align-content:flex-start;
    margin-bottom: 1%;
    width: 440px;
    height: 73px;
}

.cep label{
    width: 122.96px;
    top: 1323px;
    margin-left: 18%;
}

.cep input{
    display: block;
    width: 201.57px;
    top: 1356px;
    margin-left: 18%;
}

.checkbox{
    align-self: flex-end;
}

.checkbox input[type="checkbox"]{
    width: 10.58px;
    height: 10.5px;
}

.checkbox label{
    width: 97.76px;
    font-size: 12px;
}

/* LOGRADOURO E NUMERO */

.logradouro-numero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 1%;
    width: 1185px;
    height: 73px;
}

.logradouro label{
    width: 97.76px;
    margin-left: 3%;
}

.logradouro input{
    display: block;
    width: 600px;
    margin-left: 3%;
}

.numero label{
    width: 69.54px;
    margin-left: -20%;
}

.numero input{
    display: block;
    width: 201.57px;
    margin-left: -20%;
}

.checkbox-dois{
    align-self: flex-end;
}

.checkbox-dois input[type="checkbox"]{
    width: 10.58px;
    height: 10.5px;
    margin-left: -140%;
}

.checkbox-dois label{
    width: 97.76px;
    font-size: 12px;
}

/* COMPLEMENTO E BAIRRO */

.complemento-bairro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 1%;
    width: 1185px;
    height: 73px;
}

.complemento label{
    width: 118.93px;
    margin-left: 5%;
}

.complemento input{
    display: block;
    width: 600px;
    margin-left: 5%;
}

.bairro label{
    width: 53.42px;
}

.bairro input{
    display: block;
    width: 431.36px;
}

/* CIDADE  ESTADO */

.cidade-estado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 1%;
    width: 550px;
    height: 73px;
}

.cidade label{
    width: 61.48px;
    margin-left: 15%;
 }

 .cidade input{
    display: block;
    width: 201.57px;
    margin-left: 15%;
 }

 .estado label{
    width: 60.47px;
 }

 .estado select{
    display: block;
    width: 201.57px;
    height: 35px;
    background: #E0E0E0;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
 }

 /* BOTÃO SALVAR ENDEREÇO */

 .btn-salvar-endereco button{
    width: 217.7px;
    height: 35px;
    background: #F62CBC;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    margin-left: 6%;
    margin-top: 2%;
 }

/* CSS FOOTER */


 .footer {
    width: auto;
    height: 250px;
    background: #61B52F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

strong {
    font-weight: bold;
    color: #FEEE08;
}

.descricaoSobre {
    margin-left: 150px;
    padding-top: 30px;
    width: 554px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    

}

.descricaoSobre h2    {
    padding-bottom: 1px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    width: 328px;
    border-bottom: 1px solid white; 

}


.leiaMais {
    font-family: sans-serif;
    color: white;
    line-height: 2.1;
    
}

.redesSociais {
    padding-top: 30px;
    margin-left: 150px;
    width: 400px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.3;

}

.redesSociais h2 {
    padding-bottom: 1px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    width: 328px;
    border-bottom: 1px solid white; 
    margin-bottom: 10px;
}

span {
    margin-top: 10px;
}

.footer2 {
    width: auto;
    height: 64px;
    background: #34A853;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.direitos {
    margin-left: 150px;
    padding-top: 25px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    
}
