body, img, div, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 15px;
    list-style: none;
    
}

.header{
    width: 100%;
    height: 223px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteudoHeader{
    width: 1200px;
    margin:10px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

.divInput{
    height: 100px;
     margin-top: 35px;
     display: flex;
     flex-direction: row;
}

.login{
    display: flex;
    width: 252px;
    height: 52px;
    margin-top: 44px;   
}
.campoLogin{
    margin-top: 10px;
    display: block;
    flex-wrap: wrap;
}

.buscar{
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border-right: none;
    border-color: #4285F4;
    width: 400px;
    height: 42px;
    color: #4285F4;

}

.container {
    height: 42px;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: #FCBC05;
    border-style: solid;
    color: #EB4335;
    border-right: none;

}

  .submit {
    height: 47px;
    width: 47px;
    border-left-color: green;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-color: #FCBC05;
    border-top-color: #FCBC05;  
    border-right-color: #FCBC05;
    background-color: white;
}

.login span{
    text-align: center;
    margin: 10px;
    font-family: sans-serif;
    color: #EB4335;
    font-weight: bold;
}

.login img{
    width: 50px;
}

.infoHeader{
    width: 100%;
    height: 60px;
    background: #4285F4;
}
nav{
    width: 1122px;
    display: flex;
    margin:auto;
    align-items: center;
    margin: auto;
}

.infoHeader ul{
    width: 1122px;
    font-family: sans-serif;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
       
}

.infoHeader li{
    display: inline;
    align-items: center;
    justify-content: space-between;
    padding-right: 34px;
}

.infoHeader li a{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    text-decoration-line: none;
}
#comprarLi{
    color:#FEEE08 ;

}

strong {
    font-weight: bold;
    color: #FEEE08;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #4285F4;
}

.menu > li {
    margin-left: 10px;
}

.menu > li > a {
    display: block;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.section-busca {
    padding-top: 30px;
}

.article-busca {
    text-align: center;
}

.article-busca > hr {
    width: 520px;
    background: #4285F4;
}

.strong-red > span {
    font-weight: bold;
}

.strong-red > span > p {
    font-size: 30px;
}

.article-paragrafo{
    font-size: 20px;
    color: #34A853;
    font-weight: bold;
    
}

.article-paragrafo > span {
    color: black;

}

.section-principal {
    border: 1px solid #4285F4;
    width: 140px;
    padding: 50px 50px 0px 15px;
    color: #4285F4;
    height: 555px;
    font-weight: bold;
    margin-right: 60px;
    
}

.container-ensino > article{
    padding-bottom: 10px;
}

.container-checkbox {
    padding-top: 10px;
}

.div-checkbox > p {
    padding-left: 28px;
    padding-top: 5px;
    font-size: 12px;
    font-weight: bold;
    
}

.div-checkbox {
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.hr-linha {
    width: 90px;
    margin: 30px 10px;
    background: #4285F4;
}

/* main-container */
#main-container {
    padding-top: 100px;
    display: flex;
    max-width: 1040px;
    margin: 0 auto;
}

.div-card {
    display: flex;
    text-align: center;
    margin: -16px auto;
    flex-wrap: wrap;
}

.div-card1 {
    padding-left: 15px;
    padding-top: 15px;
}

 .section-card {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    margin: 0 auto;
}

.section-card > div {
    flex: 1 1 200px;
    margin: 10px;
}

.texto {
    padding: 0px 0px 10px;
    text-align: center;
    font-weight: bold;
}

.mat {
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.btn {
    text-align: center;
    padding:0px 0px 10px 5px;
}

.btn1 {
    background: #EB4335;
    outline: none;
    border: none;
    padding: 15px;
    width: 110px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 12px;
}

.btn2 {
    background: #34A853;
    outline: none;
    border: none;
    padding: 15px;
    width: 110px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 12px;
} 

 .button  {
    background: #34A853;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 12px;
    color: #fff;
   
    align-items: center;
}

.button > p {
    font-size: 12px;
    font-weight: bold;
}

.button > div > img {
    padding-left: 10px;
    
}

.mover {
    display: flex;
    Margin-left: -151px;
    margin-top: -60px;
    position: absolute;
    left: 50%;
    transform: translateX(418%);
    flex-wrap: wrap;
}

.img-assets {
    display: flex;
    height: 20px;
    padding-bottom: 20px;
    
}

.img-assets > p {
    font-size: 12px;
    padding-left: 17px;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    color: #219653;
    
}

.img-assets > img {
    padding-left: 12px;
}

.div-login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 16px;
    padding-bottom: 10px;
}

.div-login > img {
    width: 24px;
    
}

.div-login >  div > p {
    font-size: 12px;
    padding-left: 5px;
    font-weight: bold;
}

.setaLado {
    display: flex;
    justify-content: center;
    border: 1px solid;
    width: 32px;
    margin: 0 auto;
}




/* FOOTER */

 .footer {
    margin-top: 70px;
    width: auto;
    height: 250px;
    background: #61B52F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social {
    font-weight: bold;
    color: #FEEE08;
}

.descricaoSobre {
    margin-left: 150px;
    padding-top: 30px;
    width: 554px;
    color: white;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    

}

.descricaoSobre h2    {
    padding-bottom: 1px;
    font-size: 20px;
    color: white;
    width: 328px;
    border-bottom: 1px solid white; 

}


.leiaMais {
    color: white;
    line-height: 2.1;
    
}

.redesSociais {
    padding-top: 30px;
    margin-left: 150px;
    width: 400px;
    color: white;
    line-height: 1.3;

}

.redesSociais h2 {
    padding-bottom: 1px;
    font-size: 20px;
    color: white;
    width: 328px;
    border-bottom: 1px solid white; 
    margin-bottom: 10px;
}

span {
    margin-top: 10px;
}

.footer2 {
    width: auto;
    height: 64px;
    background: #34A853;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.direitos {
    margin-left: 150px;
    padding-top: 25px;
    font-size: 20px;
    color: white;
    
} 